.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 24px 8%;
  transition: all 0.3s ease;
}

.navbar-logo {
  padding: 14px;;
}

.navbar-scrolled {
  padding: 14px 8%;
  background: rgba(11, 15, 25, 0.82);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}



.navbar-container {
  max-width: 1200px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-logo {
  font-size: 1.4rem;
  font-weight: 800;
  letter-spacing: -0.5px;
  color: #ffffff;
  cursor: pointer;
}

.navbar-logo span {
  color: #6c63ff;
  padding: 14px;
}

.navbar-links {
  display: flex;
  align-items: center;
  gap: 28px;
}

.navbar-links a {
  position: relative;

  font-size: 0.9rem;
  font-weight: 500;
  color: #a7adbd;

  cursor: pointer;

  transition: color 0.25s ease;
}

.navbar-links a:not(.navbar-cv)::after {
  content: "";

  position: absolute;
  left: 0;
  bottom: -6px;

  width: 0;
  height: 1px;

  background: #ffffff;

  transition: width 0.25s ease;
}

.navbar-links a:hover {
  color: #ffffff;
}

.navbar-links a:not(.navbar-cv):hover::after {
  width: 100%;
}

.navbar-cv {
  display: flex;
  align-items: center;
  gap: 8px;

  padding: 10px 16px;

  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 8px;

  color: #ffffff !important;

  background: rgba(255, 255, 255, 0.05);

  transition: all 0.25s ease;
}

.navbar-cv:hover {
  background: rgba(255, 255, 255, 0.1);
  transform: translateY(-1px);
}

.navbar-menu-button {
  display: none;

  align-items: center;
  justify-content: center;

  padding: 8px;

  background: transparent;
  color: #ffffff;

  font-size: 1.6rem;

  cursor: pointer;
}

/* Mobile */

@media (max-width: 500px) {
  .navbar {
    padding: 18px 8%;
  }

  .navbar-scrolled {
    padding: 14px 8%;
  }

  .navbar-menu-button {
    display: flex;
    z-index: 1001;
  }

  .navbar-links {
    position: absolute;

    top: calc(100% + 10px);
    left: 5%;
    right: 5%;

    display: none;
    flex-direction: column;
    align-items: stretch;

    gap: 0;

    padding: 14px;

    background: rgba(15, 20, 32, 0.96);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);

    border: 1px solid rgba(255, 255, 255, 0.08);
    border-radius: 14px;

    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.35);
  }

  .navbar-links.active {
    display: flex;
  }

  .navbar-links a {
    padding: 14px 10px;
  }

  .navbar-cv {
    justify-content: center;
    margin-top: 8px;
  }
}